@import "fonts/font-awesome/css/font-awesome.min.css";
@font-face{
	font-family: 'JF-Flat';
	src: url(fonts/JF-Flat-Regular.ttf);
	font-family: 'JF-Flat';
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: "JF-Flat", sans-serif;
}
main{
	min-height: 420px;
}
p{
	color: #333;
}
a{
	transition: all 0.3s ease-in-out;
}
button{
	cursor: pointer;
}

.btn:active , button:active , button i:focus{
	outline: none;
	border: none;
}
.btn:focus , a:focus{
	outline: 0;
	box-shadow: 0 0 0 0px transparent !important;
}
.btn-site{
	background-color: #2f669a;
	color: #fff;
	width: 165px;
}
.btn-site:hover{background-color: #2975bd !important;color:#fff;}
.btn-site2{
	background-color: #f5f5f5;
	border: 2px dashed #2975bd;
	color: #2975bd  !important;	
}
.btn-site2:hover{
	background-color:#2975bd;

	color: #fff  !important;	
}
.btn-lang{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	font-weight: bold;
	padding-top: 4px;
}

.page-item.active .page-link{background-color: #2f669a;}
/*************** Common Classes ****************/
	.primary-color{
		color: #2f669a;
	}
	.primary-color-hover:hover{
		color: #4bc344;
	}
	.bg-primary-color{
		background-color: #2f669a;
	}
	.bg-primary-color-hover:hover{
		background-color: #db4166;
	}
	.sec-bg{background-color: #e5f2ff;}
	.color-gradient{
		background: linear-gradient(to left, #db4166 ,#c174f2); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}
	.bg-gradient{
		background: linear-gradient(to left, #db4166,#c174f2);
	}

	.inner-header{
		background: url(../images/inner-header.jpg) fixed 0% no-repeat;
		background-size: cover;
		height: 350px;
	}
	.inner-header .overlay{
		background-color: rgba(0,0,0,0.4);
		padding-top:220px;
		height: 100%;
	}
	.breadcrumb {
	    background-color: transparent;
	    padding-left: 0;
	}
	.breadcrumb-item{
		font-size: 17px;
		float: left;
	}
	.breadcrumb-item a{
		color: white;
	}
	.breadcrumb-item.active{
		color: white;
	}
	.overlay{
		background-color: rgba(0,0,0,0.6);
		height: 100%;
	}
	.overlay-white{
		background-color: rgba(255,255,255,0.8);
		height: 100%;
		padding: 80px 0px;
	}

	.warning{
		color: red;
	}
	.form-control.error{
		border-color: red !important;
	}
	

/*************** Common Classes ****************/


/*************** Header ****************/
	.top-header{
		padding: 5px 0;
		border-bottom: solid 1px #f5f5f5;
	}
	.top-header ul.info li{
		display: inline;
		margin-right: 15px;
		font-size: 14px;
		color: #666;
	}
	.top-header ul.info li i{
		margin-right: 5px;
	}
	.top-header ul.social li{
		display: inline;
		margin-right: 8px;
		font-size: 14px;
	}
	.top-header ul.social li a{
		color: #666;
	}
	.top-header ul.social li a i{
		transition: all 0.4s ease-in-out;
	}
	.top-header ul.social li a:hover{
		color: #db4166;
	}
	.top-header ul.social li a:hover i{
		transform: translateY(-5px);
	}
	.menu{
	
		left: 0;
		right: 0;
		z-index: 5;
		background-color: #fff;
		border-bottom: solid 2px #669a30;
	}
	.menu .navbar {padding:0px;}
	.menu .nav-link{
		color: #555;
		font-size: 17px;
		margin-right: 10px;
		transition: all 0.5s ease-in-out;
	}
	.menu .active .nav-link{
		color: #2f669a;
	}
	.menu .nav-link:hover{
		color: #2f669a;
	}
	.navbar-toggler i{
		font-size: 40px;
	}
	#logo{
		max-height: 75px;
		transition: all 0.5s ease-in-out;
	}
	.scroll{
		position: fixed;
		background-color: #002147;
	}
	.scroll #logo{
		max-height: 45px;
	}
	.scroll .nav-link{
		font-size: 15px;
		margin-right: 8px;
	}
/*************** Header ****************/


/*************** Index ****************/
	/** Slider **/
	    
		.slider .carousel-inner{
			max-height: 700px;
			overflow: hidden;
		}
		.slider .carousel-inner img{
			max-height: 100%;
			max-width: 100%;
			background-color: white;
			opacity: 0.8;
		}
		.slider .carousel-inner .carousel-item:nth-child(odd) .carousel-caption{
			left: 10%;
		}
		.slider .carousel-inner .carousel-item:nth-child(even) .carousel-caption{
			left: 50%;
		}
		.slider .carousel-inner .carousel-caption{
			top: 20%;
			text-align: left;
			width: 40%;
		}
		.slider .carousel-inner .carousel-caption h2{
			font-size: 30px;
		}
		.slider .carousel-inner .carousel-caption p{
			max-height: 70px;
			overflow: hidden;
		}
		/* Animation */
		@keyframes scale {
			0% {
			  transform: scale(1,1);
			}
			100% {
			  transform: scale(1.3,1.3);
			}
		  }

		  .slider .carousel-item img {  
			animation: 20s ease-out 0s 1 scale;
		  }
		  /* Animation */
		  .carousel-control-prev{
			background: #669a30;
			height: 35px;
			width: 35px;
			top: inherit;
			bottom: 150px;
			left: 50px;
			border-radius: 50%;
		  }
		  .carousel-control-next{
			background: #669a30;
			height: 35px;
			width: 35px;
			top: inherit;
			bottom: 150px;
			right: 50px;
			border-radius: 50%;
		  }
		 
    
	/** Slider **/

	/** About **/
		.about .image{
			height: 400px !important;
			overflow: hidden;
		}
		
		.about .txt p{
			max-height: 160px;
			overflow: hidden;
			color: #666;
			line-height: 27px;
		}
		.about .txt a {
			font-size: 18px;
		}
		.about .txt a:after{
			content: "\f100";
			font-family: FontAwesome;
			margin-left: 10px;
		}
		.about .icon figure{height:90px;}
	/** About **/

	/** Services **/
	.services{
		
    	min-height: 425px;
	}
	.service  {
		background: #fff;
		width: 250px;
		max-width:100%;
		height: 206px;
		clip-path: url(#hexagono);
		clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		margin-right: calc(var(--size) / 2);
		color: #fff;
		overflow: hidden;
		margin: auto;
	}
	
	.service::before {
		content: '';
		float: left;
		width: 25%;
		height: 100%;
		clip-path: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
		shape-outside: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
	}
	.service img {
	  width: 255px;
	  height: 100%;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  transform-origin: 0% 50%;
	  transition: .75s;
	  clip-path: url(#hexagono);
	  clip-path: inherit;
	  z-index:  10;
	}
	
	
	.service figure {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		max-width: 50%;
		height: 100%;
		font-size: calc(9 / var(--Nhexa) * 1vw);
		line-height: 1;
		color: #fff;
		transition: .75s .05s;
		  text-align: center;
		  height: 200px;
	}
/*.page .serv{margin-top: 90px;}*/
	/*.serv h3{position: absolute;bottom: -55px;right: 0;left: 0;}*/
	
	
	/** Services **/

	/** Before-After **/
		.beforeAfter .photos-owl-demo .item{
			margin: 0px 10px;
		}
		.beforeAfter .photos-owl-demo img{
			width: 100%;
			height: 200px;
		}
		
	/** Before-After **/
	/** videos **/
		.Videos-owl-demo iframe{
			max-width: 100%;
			height: 200px;
		}
		.modal iframe{height: 350px;}
		.video iframe{height:200px}
	/** videos **/

	/** Blog **/
		.blog{
			background: url(../images/bg4.jpg) no-repeat center fixed;
			background-size: contain;
		}
		.blog article{
			overflow: hidden;
			position: relative;
		}
		.blog .image{
			height: 280px;
			position: relative;
			overflow: hidden;
		}
		.blog .txt {
			background: #f5f5f5;
			padding: 10px 15px;
			width: 100%;
			height: 225px;
		}
		.blog .txt a{
			font-size: 17px;
			display: block;
			font-weight: bold;
		}
		.blog .txt p{
			max-height: 65px;
			overflow: hidden;
			font-size: 14px;
		}
		.blog article:hover .txt {
			bottom: 0;
		}
		.blog .txt ul{
			display: flex;
			justify-content: space-between;
			font-size: 14px;
		}
		.blog .txt ul li i {
			color: #669a30;
		}
		.blog .txt ul li span{
			color:#333;
		}
		.blog-owl-demo .item{
			margin:0px 5px;
		}
	/** Blog **/

	/** Contact **/
		.map iframe{
			width: 100%;
			height: 480px;
			margin-bottom: -5px;
		}
		
		.contact .content ul li .icon{
			float: left;
			width: 40px;
			height: 40px;
			background-color: white;
			font-size: 27px;
			color: #2f669a;
		}
		.contact .content ul li .txt{
			float: left;
			width: 85%;
			padding-left: 20px;
			padding-top: 5px;
		}
		.contact .content ul li .txt p{
			margin-bottom: 5px;
		}
	/** Contact **/
/*************** Index ****************/
	.masonry {
		column-count: 3;
		column-gap: 1em;
	}
	.masonry .item		{
		margin: 10px 0px;
	}

/*************** Footer ****************/
	
	footer{
		background-color: #303030;
		padding-top: 30px;
	}
	footer .logo{
		max-height: 130px;
	}
	footer .footer-menu{
		columns: 2;
	}
	
	footer .social-icons li a i:hover{
		transform: rotate(360deg);
		-webkit-transition: .3s ease;
		transition: .3s ease;

	}
/*************** Footer ****************/
.header {
	width: 100%;
	height: 250px;
	position: relative;
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr max-content;
}
.header__logo {
	fill: white;
	width: 3rem;
	padding: 1rem;
	cursor: pointer;
}
.header__bg {
	width: 100%;
	height: 100%;

	background-size: cover;
	background-position: center;
	/*filter: brightness(50%);*/
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.header__title {
	grid-area: 0.3333333333;
	align-self: center;
	justify-self: center;
	color: white;
	text-transform: uppercase;
	font-size: 4rem;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
	margin-top: -5rem;
}
.header__log {
	display: flex;
	align-items: center;
	grid-area: 0.1666666667;
	padding: 1rem 2rem;
	color: white;
	cursor: pointer;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}
.header__log--icon {
	fill: currentColor;
	margin-right: 0.5rem;
	filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .5));
}
.header__log--text {
	text-transform: capitalize;
}


/*************** Page ****************/
	.pageHead{
		
		background-size: cover !important;
		height: 350px;
	}
	.page{
		background: url(../images/bg1.jpg)no-repeat 50% -354% fixed;
	}
	.pageImg{width: 500px; margin: 0px 10px;}
	.faq .video iframe{
		width: 100%;
		height: 320px;
	}
	.static-page ul{
		list-style: disc;
	}
	.static-page h1{
		font-size: 32px;
		margin-top: 20px;
	}
	.static-page h2{
		font-size: 28px;
		margin-top: 20px;
	}
	.static-page h3{
		font-size: 25px;
		margin-top: 20px;
	}
	.static-page h4{
		font-size: 20px;
		margin-top: 20px;
	}
	.static-page h5{
		font-size: 17px;
		margin-top: 20px;
	}
	.static-page h6{
		font-size: 15px;
		margin-top: 20px;
	}
/*************** Page ****************/


/*************** About ****************/
	.about.page .image{
		position: relative;
	}
	.about.page .image img{
		border: solid 15px #f5f5f5;
	}
	.about.page .txt{
		width: 60%;
	}
	.about.page .txt p {
		max-height: 100%;
	}
/*************** About ****************/


/*************** Archive-Services ****************/
	.archive-services .image{
		max-height: 200px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		position: relative;
	}
	.archive-services .image .overlay {
		position: absolute;
		bottom: 100%;
		right: 0;
		left: 0;
		background: linear-gradient(to left, rgba(219, 65, 102,0.2) ,rgba(193, 116, 242,0.2)); 
		overflow: hidden;
		width: 100%;
		top: 0;
		height: 100%;
		-webkit-transition: .3s ease;
		transition: .3s ease;
	}
	.archive-services article:hover .image .overlay {
		height:0;
	}
	.archive-services .txt{
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
/*************** Archive-Services ****************/


/*************** Archive-Service ****************/
	.archive-service .image{
		width: 35%;
		height: 150px;
		position: relative;
	}
	.archive-service .image img{
		height: 100%;
		width: auto;
	}
	.archive-service .image .overlay {
		position: absolute;
		bottom: 100%;
		right: 0;
		left: 0;
		background: linear-gradient(to left, rgba(219, 65, 102,0.2) ,rgba(193, 116, 242,0.2)); 
		overflow: hidden;
		width: 100%;
		top: 0;
		height: 100%;
		-webkit-transition: .3s ease;
		transition: .3s ease;
	}
	.archive-service article:hover .image .overlay {
		height:0;
	}
	.archive-service .txt{
		width: 65%;
		padding-left: 10px;
		height: 150px;
		overflow: hidden;
	}
	.archive-service .txt p{
		max-height: 67px;
		overflow: hidden;
		font-size: 15px;
	}
/*************** Archive-Service ****************/


/*************** Single-Service ****************/
 	#owl-demo{
		direction: ltr;
	}
 	#owl-demo .item img{
		display: block;
		width: 100%;
		height: auto;
	}	
	.single-service #owl-demo .item{
		max-height: 400px;
		overflow: hidden;
	}
/*************** Single-Service ****************/


/*************** Before-After ****************/
	.before-after.page .twentytwenty-container {
		height: 300px !important;
		border: 0;
	}
	.before-after.page .txt{
		height: 100px;
		overflow: hidden;
	}
	.before-after.page .txt p{
		font-size: 14px;
		max-height: 65px;
		overflow: hidden;
	}
	/* .before-after #owl-demo .item{
		max-height: 500px;
		overflow: hidden;
	} */
/*************** Before-After ****************/


/*************** FAQ ****************/
	.faq ul li{
		border: solid 1px #f5f5f5;
		padding: 20px 10px;
		margin-bottom: 15px;
	}
	.faq ul li a{
		color:#2f669a;
		font-weight: bold;
	}
	.faq ul li a i{color: #669a30;}

	
/*************** FAQ ****************/


/*************** Contact ****************/
	.page .map iframe{
		width: 100%;
		height: 400px;
		margin-bottom: -5px;
	}
	.contact.page .content{
		padding: 0 50px 35px;
	}
	.contact.page .content ul li .icon{
		background-color: #f5f5f5;
	}
	.form-control{
		border: 0;
		border-radius: 0;
		border-bottom: solid 1px #ddd;
		transition: all 0.4s ease-in-out;
		padding-bottom: 15px;
		background-color: transparent;
	}
	.form-control:focus{
		border-color: #2f669a;
		background-color: transparent;
	}
	textarea{
		height: 100px;
	}
	textarea:focus{
		height: 150px;
	}
/*************** Contact ****************/


/*************** Archive-Blog ****************/
	
/*************** Archive-Blog ****************/


/*************** Single-Blog ****************/
	.single-blog article.main .image{
		max-height: 320px;
	}
	.single-blog article.main ul.info{
		list-style: none;
	}
	.single-blog article.main ul.info li{
		display: inline;
		margin-right: 30px;
	}
	.single-blog article.main ul.info li i{
		margin-right: 3px;
		color: #db4166;
	}
	.single-blog article.main ul{
		list-style: disc;
	}
	.single-blog article.main h1{
		font-size: 32px;
		margin-top: 20px;
	}
	.single-blog article.main h2{
		font-size: 28px;
		margin-top: 20px;
	}
	.single-blog article.main h3{
		font-size: 25px;
		margin-top: 20px;
	}
	.single-blog article.main h4{
		font-size: 20px;
		margin-top: 20px;
	}
	.single-blog article.main h5{
		font-size: 17px;
		margin-top: 20px;
	}
	.single-blog article.main h6{
		font-size: 15px;
		margin-top: 20px;
	}
	.single-blog .related{
		position: sticky;
		top: 0;
	}
	.related article .image{
		height: 230px;
	}
	.related article:hover .image img{
		transform: scale(1.1) rotate(-3deg);
	}
	.related article .txt{
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
	.related article .txt h5{
		height: 45px;
		overflow: hidden;
		margin-bottom: 5px;
	}
	.related article .txt p{
		font-size: 14px;
		max-height: 125px;
		overflow: hidden;
	}
	.related article .txt ul{
		display: flex;
		justify-content: space-between;
		border-top: solid 1px #ddd;
		padding: 12px 0 0;
		font-size: 14px;
	}
	.related article .txt ul li i{
		margin-right: 3px;
		color: #db4166;
	}
	.all-comments .comment ul li{
		margin-bottom: 20px;
	}
	.all-comments .comment ul li img{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		float: left;
		margin-right: 10px;
	}
	.all-comments .comment ul li .txt{
		width: 85%;
		float: left;
	}
	.reply-form form{
		width: 70%;
	}


/*************** Single-Blog ****************/


/************* Responsive *************/
	@media(max-width: 1024px){
		.navbar-toggler i {
			font-size: 34px;
		}
		.inner-header {
			background: url(../images/inner-header.jpg) fixed 24% -33% no-repeat;
		}
		.slider .carousel-inner {
			max-height: 572px;
		}
		.about .image {
			max-height: 435px;
			top: 73%;
		}
		.services .content {
			padding: 50px 20px 0 55px;
		}
		.services .content ul li{
			min-height: 133px;
		}
		.blog .image {
			height: 325px;
		}
		.contact .content ul li .txt {
			width: 83%;
		}
		.related article .image{
			height: 200px;
		}
		.serv {margin-top:60px}
	}
	@media(max-width: 768px){
		.slider .carousel-inner .carousel-caption{
			width: 50%;
			top: 30%;
		}
		.about .image {
			top: 48%;
		}
		.services .image{
			width: 0%;
			display: none;
		}
		.services .content{
			width: 100%;
		}
		.before-after .twentytwenty-container{
			margin-bottom: 20px;
		}
		.conatct{
			margin-bottom: -50px;
		}
		.map iframe{
			height: 300px;;
		}
		.contact .content ul li .txt {
			width: 80%;
		}
		.all-comments .comment ul li .txt {
			width: 82%;
		}
		.reply-form form{
			width: 100%;
		}
	}
	@media(max-width: 640px){
		.top-header ul.info , .top-header ul.social{
			float: none !important;
			text-align: center;
			margin-bottom: 5px;
			padding: 0;
		}
		.top-header ul.info li{
			margin-left: 7px;
			margin-left: 7px;
		}
		.top-header ul.social li{
			margin-left: 5px;
			margin-right: 5px;
		}
		.navbar-toggler i {
			font-size: 30px;
		}
		.slider .carousel-inner .carousel-caption{
			width: 80%;
			top: 38%;
		}
		.slider .carousel-inner .carousel-item:nth-child(odd) .carousel-caption{
			left: 10%;
		}
		.slider .carousel-inner .carousel-item:nth-child(even) .carousel-caption{
			left: 10%;
		}
		.inner-header{
			background: url(../images/inner-header.jpg) fixed 30% 19% no-repeat;
		}
		.about .image{
			width: 100%;
			position: relative;
			margin-top: 30px;
		}
		.about .txt{
			width: 100%;
		}
		.about.page .image{
			width: 100%;
			margin-bottom: 30px;
		}
		.about .image .txt , .about.page .txt{
			width: 100%;
		}
		.footer-content .logo{
			max-height: 90px;
		}
		.footer-content p{
			margin-bottom: 0;
		}
		.footer-content p.last{
			padding-top: 5px;
		}
		.page .map iframe{
			height: 300px;
			margin-bottom: 30px;
		}
		.contact.page .content{
			padding: 20px;
		}
		.contact.page .form-group{
			margin-bottom: 30px;
		}
		.single-blog .related{
			margin-top: 40px;
		}
	}
	@media(max-width: 480px){
		.slider .carousel-inner .carousel-caption h2 {
			font-size: 22px;
		}
		.slider .carousel-inner .carousel-caption .desc{
			display: none;
		}
		.services .content ul li{
			width: 100%;
			min-height: 110px;
		}
		.contact{
			margin-bottom: -50px;
		}
	}
	@media(max-width: 360px){
		.navbar-toggler i {
			font-size: 25px;
		}
		.about .image {
			max-height: 390px;
		}
		.contact .content ul li .txt {
			width: 75%;
		}
		.before-after.page .twentytwenty-container {
			height: 200px !important;
		}
		.all-comments .comment ul li .txt {
			width: 77%;
		}
	}
/************* Responsive *************/